.i-activity-bg{background: url('../images/indexsprite1.png') no-repeat 0px -38px;width: 172px;height: 54px;}
.i-area{background: url('../images/indexsprite1.png') no-repeat -302px -204px;width: 18px;height: 22px;}
.i-bj{background: url('../images/indexsprite1.png') no-repeat -302px 0px;width: 48px;height: 52px;}
.i-bk{background: url('../images/indexsprite1.png') no-repeat -60px -150px;width: 68px;height: 44px;}
.i-chalk-line{background: url('../images/indexsprite1.png') no-repeat -132px -131px;width: 135px;height: 9px;}
.i-chalk{background: url('../images/indexsprite1.png') no-repeat -302px -111px;width: 40px;height: 25px;}
.i-eight{background: url('../images/indexsprite1.png') no-repeat -325px -138px;width: 20px;height: 20px;}
.i-friend{background: url('../images/indexsprite1.png') no-repeat -260px -150px;width: 16px;height: 16px;}
.i-gl{background: url('../images/indexsprite1.png') no-repeat 0px -208px;width: 55px;height: 54px;}
.i-group-bg{background: url('../images/indexsprite1.png') no-repeat 0px -94px;width: 130px;height: 54px;}
.i-ks{background: url('../images/indexsprite1.png') no-repeat -130px -150px;width: 54px;height: 40px;}
.i-looker{background: url('../images/indexsprite1.png') no-repeat -302px -250px;width: 18px;height: 11px;}
.i-message{background: url('../images/indexsprite1.png') no-repeat -242px -150px;width: 16px;height: 16px;}
.i-more{background: url('../images/indexsprite1.png') no-repeat -248px -94px;width: 50px;height: 28px;}
.i-news-bg{background: url('../images/indexsprite1.png') no-repeat -132px -94px;width: 114px;height: 35px;}
.i-person{background: url('../images/indexsprite1.png') no-repeat -286px -38px;width: 13px;height: 16px;}
.i-phone{background: url('../images/indexsprite1.png') no-repeat -302px -160px;width: 20px;height: 20px;}
.i-pj{background: url('../images/indexsprite1.png') no-repeat 0px -150px;width: 58px;height: 56px;}
.i-praise{background: url('../images/indexsprite1.png') no-repeat -320px -228px;width: 16px;height: 16px;}
.i-rank-five{background: url('../images/indexsprite1.png') no-repeat -324px -160px;width: 20px;height: 20px;}
.i-rank-four{background: url('../images/indexsprite1.png') no-repeat -302px -138px;width: 21px;height: 20px;}
.i-rank-one{background: url('../images/indexsprite1.png') no-repeat -324px -182px;width: 20px;height: 19px;}
.i-rank-seven{background: url('../images/indexsprite1.png') no-repeat -322px -204px;width: 16px;height: 20px;}
.i-rank-six{background: url('../images/indexsprite1.png') no-repeat -278px -150px;width: 18px;height: 14px;}
.i-rank-three{background: url('../images/indexsprite1.png') no-repeat -302px -182px;width: 20px;height: 20px;}
.i-rank-two{background: url('../images/indexsprite1.png') no-repeat -302px -228px;width: 16px;height: 20px;}
.i-video-bg{background: url('../images/indexsprite1.png') no-repeat -174px -38px;width: 110px;height: 42px;}
.i-xz{background: url('../images/indexsprite1.png') no-repeat -57px -208px;width: 49px;height: 51px;}
.i-zb{background: url('../images/indexsprite1.png') no-repeat -186px -150px;width: 54px;height: 37px;}
.i-zy{background: url('../images/indexsprite1.png') no-repeat -302px -54px;width: 40px;height: 55px;}
.news-mask{background: url('../images/indexsprite1.png') no-repeat 0px 0px;width: 300px;height: 36px;}
