<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>donga</title>
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
	<div class="header">
		<div class="top">
			<div class="comWidth clearfix">
				<!-- img 3pxbug,将img设置为display:block即可 -->
				<div class="logo">
					<a href="javascript:;"><img src="images/logo1.png" alt="东阿县教育资源公共服务平台"></a>
				</div>
				<div class="search-btn">
					<a href="javascript:;">搜索</a>
				</div>
				<div class="search">
					<input class="search-area" type="text" value="搜索资源">
					<i class="i-search"></i>
				</div>
			</div>
		</div> <!-- top end -->
		<div class="banner">
			<ul class="rslides clearfix" style="height:400px;">
	           <!--  <li style="width: 100%;height:100%;background: #3e6e89 url(images/banner_01.jpg) center center no-repeat;"></li> -->
	           <!--  <li style="width: 100%;height:100%;background: #3e6e89 url(images/banner_02.jpg) center center no-repeat;"></li> -->
	            <li style="width: 100%;height:100%;background: #3e6e89 url(images/banner_03.jpg) center center no-repeat;"></li>
	        </ul>
			<div class="login-wrap">
				<div class="login">
					<form action="">
						<input type="text" name="username" value="用户名/邮箱">
						<input type="text" name="password" value="密码">
						<div class="login-free clearfix">
							<input class="login-free-btn" type="checkbox" id="login-free-btn" name="login-free-btn">
							<label for="login-free-btn">十天内免登录</label>
							<a href="javascript:;">帮助中心</a><a href="javascript:;">忘记密码？&nbsp;|&nbsp;&nbsp; </a> 
						</div>
						<a class="login-btn" href="javascript:;">立即登录</a>
						<div class="login-zhuce">
							<a class="zhuce-type" href="javascript:;">注册</a>
							<a class="zhuce-type" href="javascript:;">激活</a>
							<a class="qq" href="javascript:;">
								<img src="images/qq.png" alt="qq">
							</a>
							<a class="sina" href="javascript:;">
								<img src="images/sina.png" alt="">
							</a>
						</div>

					</form>
				</div>
			</div>
			<div class="nav">
				<div class="comWidth">
					<ul class="clearfix">
						<li><a class="index" href="javascript:;">首页</a></li>
						<li><a class="news-center" href="javascript:;">新闻公告</a></li>
						<li><a class="app-center" href="javascript:;">应用中心</a></li>
						<li><a class="source-center" href="javascript:;">资源中心</a></li>
						<li><a style="margin-right: 0;" class="vedio-center" href="javascript:;">视频中心</a></li>
					</ul>
				</div>
			</div> <!-- nav end -->
		</div> <!-- banner end -->
	</div>
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.js"></script>
<script src="js/Scroll.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript" src="js/responsiveslides.min.js"></script>
<script>
	$(function(){
		var choose = function(el){
				var $el = $(el),
				$item = $el.find("a");
				$item.on('click',function(){
					$(this).addClass('active').parent().siblings().children(). removeClass('active');
					var identity = $(this).parent().index(),
					type = $(this).parents('ul')[0].id;
					switch (type){
						case 'app':
							$("#ZoneIcon").find('ul').eq(identity).show().siblings().hide();
						break;
						case 'school-rank':
							$(".school-rank").find('.schoolList').eq(identity).show().siblings('.schoolList').hide();
						break;
						case 'zone-rank':
							$(".zone-rank").find('.zone-wrap').eq(identity).show().siblings('.zone-wrap').hide();
						break;
						case 'info-nav':
							$(".info-ul").find('.info-li').eq(identity).show().siblings('.info-li').hide();
						break;
					}
				});
			};
		choose(".rank-header");
		choose(".info-nav");
		// $(".search-area").on({
		// 	'focus':function(){
		// 		var val = this.value;
		// 		if(val === "搜索资源"){
		// 			this.value = '';
		// 			$(this).css("text-align",'left').next().remove();
		// 		}
		// 	},
		// 	'blur':function(){
		// 		var val = this.value;
		// 		if(val === ''){
		// 			this.value = '搜索资源';
		// 			$(this).css("text-align",'center').after('<i class="i-search"></i>');
		// 		}
		// 	}
		// });
		$("#ZoneIcon").jCarouselLite({
            btnNext: "#ZoneRight",
            btnPrev: "#ZoneLeft",
            visible: 1,
            scroll: 1
        });

   		var chartLeftJson = {
   			title:{
	   		   text: '教师注册量/登录量'   
   			},
   			xAxis:{
   			   categories: ['榆阳区', '榆阳区', '榆阳区', '榆阳区', '榆阳区', '榆阳区',
   			      '榆阳区', '榆阳区', '榆阳区']
   			},
   			yAxis:{
   			   plotLines: [{
   			      value: 0,
   			      width: 1,
   			      color: '#808080'
   			   }]
   			},   
   			legend:{
   			   layout: 'vertical',
   			   align: 'right',
   			   verticalAlign: 'middle',
   			   borderWidth: 0
   			},
   			series: [
   			   {
   			      name: '登录',
   			      data: [200,150,240,320,510,100,200,170,230]
   			   }, 
   			   {
   			      name: '注册量',
   			      data: [20,14,5,30,26,50,42,31,20]
   			   }
   			]
   		};
	    $("#chart-left").highcharts(chartLeftJson);
	    $("#chart-right").highcharts(chartLeftJson);

	    $(".rslides").responsiveSlides({
                auto: false,
                speed: 500,
                timeout: 4000,
                pager: true
            });
        $(".rslides_tabs a").text("");
	});
</script>
</body>
</html>