<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章管理</title>
	<%- include('./_head.html') %>
</head>
<body>
	<%- include('./_nav.html') %>
	
	<ol class="breadcrumb">
	   <li><a href="/manage">后台管理</a></li>
	   <li><a href="/manage/article">文章管理</a></li>
	   <li class="active">发表文章</li>
	</ol>
	 <!-- enctype='multipart/form-data' -->
	<form method='post'>
		<div class="form-group">
	        <label for="category">分类</label>
	        <select name="category" id="category" class="form-control">
	        	<% for(var category in categories) { %>
	        		<option value="<%= categories[category].id %>"><%= categories[category].name %></option>
	        	<% } %>
	        </select>
	    </div>
	    <div class="form-group">
	        <label for="title">文章标题</label>
	        <input type="text" class="form-control" id="title" name='title' placeholder="请输入文章名称">
	    </div>
	    <div class="form-group">
		    <label for="file">上传文件</label>
		    <input type="file"  class="form-control" id="file" name="file">
		    <p class="help-block">最多可同时上传2个文件</p>
	  	</div>
	    <div class="form-group">
	        <label for="intro">文章简介</label>
	        <textarea name="intro" id="intro" class="form-control" rows="3" placeholder="请输入文章简介"></textarea>
	    </div>
	    <div class="form-group">
	        <label for="content">文章内容</label>
	        <textarea name="content" id="content" class="form-control" rows="5" placeholder="请输入文章内容"></textarea>
	    </div>
	    <button type="submit" class="btn btn-default">提交</button>
	</form>
</body>
</html>