<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章管理</title>
	<%- include('./_head.html') %>
</head>
<body>
	<%- include('./_nav.html') %>

	<ol class="breadcrumb">
	   <li><a href="/manage">后台管理</a></li>
	   <li><a href="/manage/article">文章管理</a></li>
	   <li class="active">发表文章</li>
	</ol>
	<%- include('./_page.html') %>
	<table class="table table-hover table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>分类</th>
			<th>标题</th>
			<th>简介</th>
			<th>内容</th>
			<th>作者</th>
			<th>发表时间</th>
			<th>点击量</th>
			<th>操作</th>
		</tr>
		<% for(var i in articles) { %>
			<tr>
				<td><%= articles[i].id %></td>
				<td><%= articles[i].category.name %></td>
				<td><%= articles[i].title %></td>
				<td><%= articles[i].intro %></td>
				<td><%= articles[i].content %></td>
				<td><% articles[i].author.username %></td>
				<td><%= articles[i].date %></td>
				<td><%= articles[i].hits %></td>
				<td style="width: 10%"><a href="/manage/article/editArticle?id=<%= articles[i].id %>">修改</a> / <a href="/manage/article/deleteArticle?id=<%= articles[i].id %>">删除</a></td>
			</tr>
		<% } %>
	</table>
	<%- include('./_page.html') %>
</body>
</html>