<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<%- include('./_head.html') %>
</head>
<body>
	<%- include('./_nav.html') %>

	<ol class="breadcrumb">
	   <li><a href="/manage">后台管理</a></li>
	   <li><a href="/manage/category">分类管理</a></li>
	   <li class="active">分类首页</li>
	</ol>

	<%- include('./_page.html') %>
	<table class="table table-hover table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>分类名称</th>
			<th>操作</th>
		</tr>
		<% for(var i = 0; i < categories.length; i++) { %>
		<tr>
			<td><%= categories[i]._id %></td>
			<td><%= categories[i].name %></td>
			<td>
				<a href="/manage/category/editCategory?id=<%= categories[i].id %>">修改</a> / <a href="/manage/category/deleteCategory?id=<%= categories[i].id %>">删除</a>
			</td>
		</tr>
		<% } %>
	</table>

	<%- include('./_page.html') %>
</body>
</html>