<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<%- include('./_head.html') %>
</head>
<body>
	<%- include('./_nav.html') %>
	<div class="jumbotron">
		<div class="container">
		    <h1>index, <%= userInfo.username %>!</h1>
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi magnam deleniti, deserunt possimus, repellendus omnis fugit at consequatur, tempore eaque. Saepe fuga, tenetur dignissimos molestias corporis consectetur quos labore.</p>
		 </div>
	   
	</div>
</body>
</html>