<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- include('./_head.html') %>
</head>
<body>
	<%- include('./_nav.html') %>

	<ol class="breadcrumb">
	   <li><a href="/admin">后台管理</a></li>
	   <li><a href="/admin/category">分类管理</a></li>
	   <li class="active">成功信息</li>
	</ol>
	<div class="panel panel-success">
		<div class="panel-heading">
	    	<h3 class="panel-title">成功信息</h3>
	 	</div>
	  	<div class="panel-body">
	    	<%= message %>
	    </div>
	    <div class="panel-footer">
	    	<% if(url) { %>
	    		<a href="<%= url %>">返回</a>
	    	<% } %>
	    </div>
	</div>
</body>
</html>