<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<%- include('./_head.html') %>
</head>
<body>
	<%- include('./_nav.html') %>

	<ol class="breadcrumb">
	   <li><a href="/manage">后台管理</a></li>
	   <li><a href="/manage/user">用户管理</a></li>
	   <li class="active">用户列表</li>
	</ol>
	<%- include('./_page.html') %>
	<table class="table table-hover table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>用户名</th>
			<th>密码</th>
			<th>是否是管理员</th>
		</tr>
		<% for(var i = 0; i < users.length; i++) { %>
		<tr>
			<td><%= users[i]._id %></td>
			<td><%= users[i].username %></td>
			<td><%= users[i].password %></td>
			<td><%  if(users[i].isAdmin) { %>
					<%= '是' %>
				<% } %>
			</td>
		</tr>
		<% } %>
	</table>

	<%- include('./_page.html') %>
</body>
</html>