.i-hour-add{background: url('../images/sprite.png') no-repeat 0px -18px;background-size: 34px 32px;width: 14px;height: 14px;}
.i-hour-close-active{background: url('../images/sprite.png') no-repeat -16px -18px;background-size: 34px 32px;width: 14px;height: 14px;}
.i-hour-delete{background: url('../images/sprite.png') no-repeat 0px 0px;background-size: 34px 32px;width: 16px;height: 16px;}
.i-warning{background: url('../images/sprite.png') no-repeat -18px 0px;background-size: 34px 32px;width: 16px;height: 16px;}
