<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>精选专题</title>
	<link rel="stylesheet" href="../../css/lib/reset.css">
	<!-- build:css ../../css/topic/index.css -->
	<link rel="stylesheet" href="../../css/topic/index.css">
	<link rel="stylesheet" href="../../css/topic/sprite.css">
	<link rel="stylesheet" href="../../css/topic/sprite2.css">
	<!-- endbuild -->
	<script src="../../js/lib/jquery-1.8.3.min.js"></script>
	<!-- build:js ../../js/topic/topicCommon.js -->
	<script src="../../js/topic/topicCommon.js"></script>
	<!-- endbuild -->
</head>
<body>
	<div class="g_hd detail">
		<div class="comWidth">
			<div class="m_login">
				<a class="icon-nologin" href="./index.html"></a>
				<!-- <div class="login clearfix">
					<img src="../../images/topic/expert.jpg" alt="" class="fl">
					<span class="fl">张小美</span>
				</div> -->
			</div>
		</div>
	</div>
	<div class="g_content">
		<div class="comWidth">
			<ul class="m_crumbs clearfix">
				<li><a href="javascript:;">首页</a></li>
				<li><a href="javascript:;">精选专题</a></li>
				<li><a href="javascript:;">语文</a></li>
			</ul>
			<div class="content detail">
				<div class="m_title2"><i class="icon-ziyuan"></i></div>
				<table class="m_table">
					<thead>
						<tr>
							<th>学段</th>
							<th>成套备课</th>
							<th>双基双测AB卷</th>
							<th>系列同步课件</th>
							<th>版本</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="em">语文初中</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td class="em">人教部编版</td>
						</tr>
						<tr>
							<td class="em">语文初中</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td class="em">人教部编版</td>
						</tr>
						<tr>
							<td class="em">语文初中</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td class="em">人教部编版</td>
						</tr>
						<tr>
							<td class="em">语文初中</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td class="em">人教部编版</td>
						</tr>
						<tr>
							<td class="em">语文初中</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td class="em">人教部编版</td>
						</tr>
						<tr>
							<td class="em">语文初中</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td>内容文件名称</td>
							<td class="em">人教部编版</td>
						</tr>
					</tbody>
				</table>
				<div class="m_title2 expert"><i class="icon-jiedu"></i></div>
				<div class="m_expert clearfix">
					<div class="expert-img fl">
						<a href="javascript:;">
							<img src="../../images/topic/expert.jpg" alt="">
							<span class="subject">讲解学科：语文</span>
							<span class="name">张小美教师</span>
						</a>
					</div>
					<div class="table-wrap fr">
						<div class="info">
							<p><span class="content">张小美，1968年1月生。广东省汕尾市林伟华中学语文高级教师，华南师范大学教育硕士，中国教育学会会员，全国快速作文研究中心理事。在《语文教学通讯》《现代语文》《语文月刊》上发表过较有影响的论文。张小美，1968年1月生。广东省汕尾市林伟华中学语文高级教师，华南师范大学教育硕士，中国教育学会会员，全国快速作文研究中心理事。在《语文教学通讯》《现代语文》《语文月刊》上发表过较有影响的论文。</span></p>
						</div>
						<table class="m_table">
							<thead>
								<tr>
									<th>学段</th>
									<th>成套备课</th>
									<th>双基双测AB卷</th>
									<th>系列同步课件</th>
									<th>版本</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="m_expert clearfix">
					<div class="expert-img fl">
						<a href="javascript:;">
							<img src="../../images/topic/expert.jpg" alt="">
							<span class="subject">讲解学科：语文</span>
							<span class="name">张小美教师</span>
						</a>
					</div>
					<div class="table-wrap fr">
						<div class="info">
							<p><span class="content">张小美2，1968年1月生。广东省汕尾市林伟华中学语文高级教师，华南师范大学教育硕士，中国教育学会会员，全国快速作文研究中心理事。在《语文教学通讯》《现代语文》《语文月刊》上发表过较有影响的论文。张小美，1968年1月生。广东省汕尾市林伟华中学语文高级教师。</span></p>
						</div>
						<table class="m_table">
							<thead>
								<tr>
									<th>学段</th>
									<th>成套备课</th>
									<th>双基双测AB卷</th>
									<th>系列同步课件</th>
									<th>版本</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="m_expert clearfix">
					<div class="expert-img fl">
						<a href="javascript:;">
							<img src="../../images/topic/expert.jpg" alt="">
							<span class="subject">讲解学科：语文</span>
							<span class="name">张小美教师</span>
						</a>
					</div>
					<div class="table-wrap fr">
						<div class="info">
							<p><span class="content">张小美3，1968年1月生。广东省汕尾市林伟华中学语文高级教师，华南师范大学教育硕士，中国教育学会会员，全国快速作文研究中心理事。在《语文教学通讯》《现代语文》《语文月刊》上发表过较有影响的论文。张小美，1968年1月生。广东省汕尾市林伟华中学语文高级教师，华南师范大学教育硕士，中国教育学会会员，全国快速作文研究中心理事。在《语文教学通讯》《现代语文》《语文月刊》上发表过较有影响的论文。</span></p>
						</div>
						<table class="m_table">
							<thead>
								<tr>
									<th>学段</th>
									<th>成套备课</th>
									<th>双基双测AB卷</th>
									<th>系列同步课件</th>
									<th>版本</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
								<tr>
									<td class="em">语文初中</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td>内容文件名称</td>
									<td class="em">人教部编版</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="g_ft"></div>
	<script>
		$(function () {
			slideToggle();
		});
	</script>
</body>
</html>