<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>精选专题</title>
	<link rel="stylesheet" href="../../css/lib/reset.css">
	<!-- build:css ../../css/topic/index.css -->
	<link rel="stylesheet" href="../../css/topic/index.css">
	<link rel="stylesheet" href="../../css/topic/sprite.css">
	<link rel="stylesheet" href="../../css/topic/sprite2.css">
	<!-- endbuild -->
	<script src="../../js/lib/jquery-1.8.3.min.js"></script>
</head>
<body>
	<div class="g_hd index">
		<div class="comWidth">
			<div class="m_login">
				<a class="icon-nologin" href="javascript:;"></a>
				<!-- <div class="login clearfix">
					<img src="../../images/topic/expert.jpg" alt="" class="fl">
					<span class="fl">张小美</span>
				</div> -->
			</div>
		</div>
	</div>
	<div class="g_content">
		<div class="comWidth index">
			<div class="m_title">
				<i class="icon-mingshi"></i>
				<p>多位一线教师倾力打造&nbsp;&nbsp;&nbsp;深度解读同步教学</p>
			</div>
			<div class="m_carousel">
				<div class="carousel bd">
					<ul class="clearfix">
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
						<li><a href="javascript:;">
								<img src="../../images/topic/expert.jpg" alt="">
								<span class="subject">讲解学科：语文</span>
								<span class="name">张小美教师</span>
							</a></li>
					</ul>
				</div>
				<div class="btn hd">
					<a href="javascript:;" class="prev icon-btn-prev"></a>
					<ul></ul>
					<a href="javascript:;" class="next icon-btn-next"></a>
				</div>
			</div>
			<div class="m_title">
				<i class="icon-jieshao"></i>
				<p>三位一体提炼教学新招&nbsp;&nbsp;&nbsp;快速搞定授课难题</p>
			</div>
			<div class="m_resolve">
				<ul class="resolve">
					<li><a href="javascript:;"><i class="icon-chengtao"></i><span class="name icon-resolve-bg">快速汇集资源云</span><p class="intro">“成套备课”汇集了教案、学案、课件、练习，以1:1:1:2的比例进行科学配比，通过一键下载“成套备课”资源，可迅速完成完整备课。</p></a></li>
					<li><a href="javascript:;"><i class="icon-tongbu"></i><span class="name icon-resolve-bg">准确直击备课点</span><p class="intro">“系列同步课件”以教材章节为基础，邀请专业的一线教师进行系列备课资源整理，可快速直击重难点、必考知识点，助您高效备课。</p></a></li>
					<li><a href="javascript:;"><i class="icon-ABjuan"></i><span class="name icon-resolve-bg">精选重点随堂练</span><p class="intro">通过教材配套的“双基双测AB卷”，精选学生需要掌握的知识点，通过练习巩固教学成果，事半功倍。</p></a></li>
				</ul>
			</div>
			<div class="m_title">
				<i class="icon-neirong"></i>
				<p>学科入口</p>
			</div>
			<div class="m_subject">
				<ul class="clearfix">
					<li><a href="./detail.html" class="icon-sx"></a></li>
					<li><a href="./detail.html" class="icon-yw"></a></li>
					<li><a href="./detail.html" class="icon-yy"></a></li>
					<li><a href="./detail.html" class="icon-sw"></a></li>
					<li><a href="./detail.html" class="icon-hx"></a></li>
					<li><a href="./detail.html" class="icon-dl"></a></li>
					<li><a href="./detail.html" class="icon-ls"></a></li>
					<li><a href="./detail.html" class="icon-wl"></a></li>
					<li><a href="./detail.html" class="icon-zz"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="g_ft index">
		<div class="comWidth">
			<a href="./contribute.html" class="icon-btn-contribute">立即投稿</a>
		</div>
	</div>
	<script src="../../js/lib/jquery.SuperSlide.2.1.1.js"></script>
	<script>
		$(function() {
    	$(".m_carousel").slide({
    		titCell:".hd ul",
	    	mainCell: ".bd ul",
	    	autoPage: true, 
	    	effect: "leftLoop", 
	    	autoPlay: true, 
	    	scroll: 5, 
	    	vis: 5,
	    	interTime: 5000,
    	});
		});
	</script>
</body>
</html>