<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
	<script>
		<%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()
		%>
	</script>
</head>
<body>
	<!-- 我是一段注释，会被minify处理掉 -->
	<br />
	<% for (var key in htmlWebpackPlugin.files) { %>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key])%>
		<br />
	<% } %>
	<br /><br />
	<% for (var key in htmlWebpackPlugin.options) { %>
		<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key])%>
		<br />
	<% } %>
</body>
</html>