$cmain: #0377d9;
body {
	overflow: hidden;
}
i {
	display: inline-block;
}

.f_comWidth {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.f_show {
	display: block !important;
}
.m_top {
	height: 93px;
	line-height: 93px;
	img {
		vertical-align: middle;
	}
	.i-renren {
		vertical-align: middle;
	}
}
.m_nav {
	background-color: $cmain;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	li {
		float: left;
	}
	a {
		display: inline-block;
		color: #fff;
		padding: 0 22px;
		font-size: 18px;
	}
	.i-arrow {
		width: 0;
		height: 0;
		line-height: 0;
		font-size: 0;
		overflow: hidden;
		border-width: 4px;
		border-style: solid;
		border-color: #fff transparent transparent transparent;
		margin-left: 9px;
	}
	.hot-line {
		color: #fff;
		font-size: 18px;
		font-style: italic;
	}
	.i-phone {
		vertical-align: middle;
		margin: -6px 4px 0 0;
	}
}
.m_banner {
	position: relative;
	.comWidth {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 1200px;
	}
}
.m_carousel {
	height: 560px;
  overflow: hidden;
  width: 100%;
  .btn {
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	margin: auto 0;
  	z-index: 99;
  	background-color: #000;
  	width: 66px;
  	height: 116px;
  	opacity: 0.3;
  	filter: alpha(opacity=30);
  	border-radius: 4px;
  	line-height: 116px;
  	text-align: center;
  }
  .prev {
  	left: 0;
  }
  .next {
  	right: 0;
  }
  .btn span {
  	display: inline-block;
  	vertical-align: middle;
  }
  .carousel {
  	a {
  		display: inline-block;
  	}
  }
}
.m_login {
	position: absolute;
	right: 0;
	top: 80px;
	width: 270px;
	height: 300px;
	background-color: #fff;
	padding: 40px;
	border-radius: 4px;
	h4 {
		font-size: 16px;
		line-height: 26px;
	}
	.user-pwd {
		margin: 16px 0 20px 0;
		input {
			width: 240px;
			height: 20px;
			border: 1px solid #aeaecb;
			border-radius: 4px;
			padding: 14px;
			font-size: 16px;
			color: #bdbdbd;
		}
		label {
			position: absolute;
			font-size: 16px;
			color: #dbdbdb;
			left: 14px;
			top: 18px;
		}
	}
	.username,.pwd {
		position: relative;
	}
	.username input {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.pwd input {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: none;
	}
	.tenday-forget {
		height: 20px;
		line-height: 20px;
	}
	.tenday label,.forget {
		font-size: 13px;
		margin-left: 10px;
		color: #656565;
	}
	.code {
		display: none; //有验证时，让按钮margin-top: 10px;
		position: relative;
		margin-top: 6px;
		input {
			width: 100 - 28px;
			height: 40 - 28px;
			border: 1px solid #aeaecb;
			border-radius: 4px;
			padding: 14px;
			font-size: 16px;
			color: #bdbdbd;
		}
		label {
			position: absolute;
			left: 10px;
			top: 14px;
			font-size: 16px;
			color: #bdbdbd;
		}
		span {
			display: inline-block;
			width: 80px;
			height: 42px;
			line-height: 42px;
			background-color: #BCEAAF;
			margin: 0 8px 0;
		}
		.change-code {
			display: inline-block;
			height: 42px;
			line-height: 42px;
			font-size: 14px;
			color: #000;
		}
	}
	.submit {
		width: 270px;
		height: 45px;
		line-height: 45px;
		border-radius: 4px;
		color: #fff;
		font-size: 18px;
		background-color: $cmain;
		margin: 26px 0 12px 0;
	}
	.register {
		a {
			display: inline-block;
			height: 33px;
			line-height: 33px;
			margin-left: 8px;
			font-size: 14px;
			padding: 0 12px;
			color: #333;
			border: 1px solid #e1e1e1;
			border-radius: 4px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
.m_notice {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	.mask {
		position: absolute;
		left: 0;
		width: 100%;
		height: 50px;
		background-color: #000;
		opacity: 0.3;
		filter: alpha(opacity=30);
	}
	.notice {
		height: 50px;
		overflow: hidden;
		line-height: 50px;
	}
	.i-notice-wrap {
		position: absolute;
		bottom: 0;
		width: 108px;
		height: 76px;
		background-color: $cmain;
		text-align: center;
		line-height: 76px;
	}
	.i-notice {
		vertical-align: middle;
	}
	.slider-notice {
		margin-left: 128px;
		display: inline-block;
		a {
			display: inline-block;
			color: #fff;
			font-size: 16px;
			width: 900px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.btn {
		float: right;
		a {
			display: inline-block;
			width: 10px;
			height: 50px;
			padding: 0 4px;
		}
		i {
			vertical-align: middle;
		}
	}
}
.m_area {
	height: 70px;
	line-height: 70px;
	.title {
		span {
			font-size: 16px;
			color: #0376d8;
			vertical-align: middle;
			font-weight: 600;
		}
	}
	.i-area {
		vertical-align: middle;
		margin-right: 8px;
		width: 19px;
	}
	li {
		float: left;
	}
	a {
		display: inline-block;
		font-size: 15px;
		color: #666;
		padding: 0 15px;
		vertical-align: middle;
	}
}

.m_title_data {
	margin-top: 74px;
	text-align: center;
	h2 {
		font-size: 32px;
		color: #333;
		line-height: 90px;
	}
	.data {
		li {
			display: inline-block;
			padding: 0 40px;
			text-align: center; 
		}
		span {
			display: block;
		}
		.num {
			font-size: 20px;
			color: $cmain;
			font-weight: 600;
			line-height: 60px
		}
		.name {
			font-size: 14px;
			color: #999;
		}
	}
}

.m_zone {
	width: 100%;
	overflow: hidden;
	height: 624px;
	background: url(../../images/index/bg-two.png) center center no-repeat;
	.zone {
		margin-top: 50px;
		text-align: center;
		font-size: 0;
		li {
			display: inline-block;
			margin: 0 25px 32px;
		}
		a {
			display: inline-block;
			overflow: hidden;
			width: 100px;
			height: 100px;
			overflow: hidden;
		}
		img {
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
}

.m_system {
	height: 440px;
	background: url(../../images/index/bg-three.png) center center no-repeat;
	overflow: hidden;
	ul {
		margin-top: 72px;
		text-align: center;
		opacity: 0;
	}
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		width: 138px;
		margin: 0 70px;
		color: #fff;
		font-size: 22px;
		text-align: center;
		position: relative;
		
		&:hover {
			.i-chalk-line {
				transition: transform .6s linear .2s; 
				transform: scale3d(1,1,1);
				visibility: visible;
			}
			.i-chalk {
				transition: transform .6s linear .2s; 
				transform: translate3d(10px,-6px,0);
				visibility: visible;
			}
		}
	}
	.name {
		display: block;
		margin: 34px 0 6px 0;;
	}
	.i-chalk-line {
		visibility: hidden;
		transform: scale3d(0,1,1);
		transform-origin: 0 50%;
	}
	.i-chalk {
		visibility: hidden;
		transform: translate3d(-136px,-6px,0);
		margin-left: 130px;
	}
}

.g_content {
	.group-activity {
		height: 724px;
		padding-top: 100px;
	}
}
.m_title_fn {
	position: relative;
	height: 56px;
	line-height: 56px;
	.i-bg {
		position: absolute;
		left: 0;
		top: 0;
	}
	h2 {
		display: inline-block;
		font-size: 20px;
		color: #383838;
		text-align: right;
		line-height: 26px;
    vertical-align: bottom;
	}
	.i-more {
		display: inline-block;
		vertical-align: bottom;
	}
}
.m_group {
	width: 796px;
	font-size: 0;
	transform: translate3d(-2000px, 0, 0);
	h2 {
			width: 148px;
		}
	li {
		display: inline-block;
		overflow: hidden;
		border-left: 1px solid #f3f3f3;;
		border-bottom: 1px solid #f3f3f3;;
	}
	.group {
		margin-top: 32px;
		border-top: 1px solid #f3f3f3;
		border-right: 1px solid #f3f3f3;
		a {
			display: inline-block;
			width: 264px;
			height: 200px;
			text-align: center;
			padding: 38px 0 30px 0;
		}
	}
	img {
		width: 128px;
		height: 128px;
		border-radius: 50%;
	}
	.name {
		display: block;
		font-size: 16px;
		margin: 26px 0 13px 0;
		color: #000;
	}
	.num {
		font-size: 10px;
    color: #9c9c9c;
    display: inline-block;
    text-align: left;
    margin: 0 10px;
    i {
    	vertical-align: text-top;
    	margin-right: 5px;
    }
	}
}
.m_activity {
	width: 365px;
	transform: translate3d(2000px, 0, 0);
	h2 {
		width: 190px;
	}
	.activity {
		margin-top: 32px;
		a {
			display: inline-block;
		}
	}
	li {
		margin-bottom: 9px;
	}
}
.g_content {
	.resource-wrap {
		height: 845px;
		background-color: #f0f5f6;
		overflow: hidden;
	}
	.resource-rank {
		margin-top: 46px;
	}
}
.m_resource {
	width: 798px;
	transform: translate3d(-2000px, 0, 0);
	.nav {
		height: 32px;
		line-height: 32px;
		ul {
			display: inline-block;
		}
		li {
			display: inline-block;
			a {
				display: inline-block;
				color: #8a8f90;
				font-size: 12px;
				width: 60px;
				text-align: center;
				padding: 0 15px;
				&:hover,&.active {
					background-color: $cmain;
					color: #fff;
					border-radius: 4px;
				}
			}
		}
		.more {
			color: #8a8f90;
		}
	}
	.resource {
		margin: 22px -11px 0 0;
		display: none;
		li {
			float: left;
			margin: 0 11px 11px 0;
		}
		a {
			display: inline-block;
			width: 333px;
			height: 58px;
			border-radius: 4px;
			background-color: #fff;
			padding: 20px 40px 20px 20px;
		}
		.info-wrap {
			display: inline-block;
			height: 58px;
			margin-left: 16px;
		}
		.title {
			font-size: 15px;
			color: #333;
			line-height: 32px;
			width: 253px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.info {
			color: #919191;
			font-size: 12px;
			line-height: 18px;
			margin-top: 6px;
			span {
				margin-right: 26px;
			}
			i {
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		.i-person {
			margin-top: -3px;
		}
		.i-looker {
			margin-top: -1px;
		}
	}
}
.m_rank {
	transform: translate3d(2000px, 0, 0);
	.nav {
		li {
			float: left;
		}
		a {
			display: inline-block;
			width: 178px;
			height: 30px;
			line-height: 30px;
			color: #8a8f90;
			text-align: center;
			&.active,&:hover {
				border: 1px solid #0276d6;
				color: #0276d6;
				border-radius: 4px;
			}
		}
	}
	.rank {
		margin-top: 23px;
		padding-top: 10px;
		display: none;
		height: 318px;
		overflow: hidden;
		li {
			margin-bottom: 18px;
		}
		a {
			display: inline-block;
			height: 22px;
			line-height: 22px;
			&:hover .num {
				background-color: #ff6701;
				font-weight: 600;
				color: #fff;
			}
		}
		span {
			display: inline-block;
		}
		.ranking {
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			color: #949799;
			font-size: 14px;
			margin-right: 10px;
		}
		.front {
			color: #fff;
			border-radius: 4px;
		}
		.one {
			background-color: #fc0200;
		}
		.two {
			background-color: #ff9000;
		}
		.three {
			background-color: #ffca03;
		}
		.name {
			font-size: 14px;
			color: #333;
			width: 256px;
		}
		.num {
			color: #333;
			font-size: 14px;
			width: 72px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border-radius: 10px;
			transition: all .2s;
		}
	}
}

.g_content {
	.news-video {
		height: 426px;
		padding-top: 108px;
	}
}
.m_news {
	width: 796px;
	overflow: hidden;
	h2 {
		width: 130px;
	}
	.news-wrap {
		margin-top: 34px;
	}
	.slider {
		width: 300px;
		height: 240px;
		background-color: #ccc;
		position: relative;
		overflow: hidden;
		li {
			a{
				display: inline-block;
			}
		}
		.name {
			position: absolute;
			bottom: 0;
			height: 36px;
			line-height: 36px;
			padding: 0 16px;
			font-size: 14px;
			color: #fff;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 300 - 32px;
		}
	}
	.btn {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 99;
	}
	.btn-prev-news {
		left: 0;
	}
	.btn-next-news {
		right: 0;
	}
	.news {
		text-align: left;
	}
	.headline {
		margin-top: 11px;
		.date {
			border: 1px solid $cmain;
			width: 50px;
			height: 50px;
			padding: 3px;
			text-align: center;
		}
	}
	.day {
		font-size: 30px;
		font-weight: 800;
		display: block;
		border-bottom: 1px solid $cmain;
		color: $cmain;
		padding-bottom: 4px;
	}
	.year {
		display: inline-block;
		height: 18px;
		line-height: 18px;
		font-size: 12px;
		color: #2e2e2e;
	}
	.info {
		margin-left: 14px;
	}
	.title {
		font-size: 20px;
		font-weight: 600;
		color: #333;
		text-align-last: left;
		line-height: 32px;
	}
	.intro {
		color: #a0aab2;
		line-height: 22px;
		font-size: 12px;
		width: 394px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.news-items {
		li {
			list-style: none;
		}
		a {
			width: 466 - 22px;
			display: inline-block;
			color: #343434;
			font-size: 16px;
			line-height: 40px;
			padding-left: 22px;
			background: url(../../images/index/i-dot.png#base) left center no-repeat;
		}
		p {
			display: inline-block;
			width: 360px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			vertical-align: middle;
		}
		.date {
			float: right;
			font-size: 12px;
			color: #9fa1a6;
		}
	}
}
.m_video {
	width: 364px;  
	h2 {
		width: 130px;
	}
	.video {
		margin-top: 34px;
		height: 240px;
		overflow: hidden; 
		img {
			width: 100%;
			height: 100%;
		}
		a {
			float: left;
			margin: 0 0 10px 9px;
			position: relative;
			width: 115px;
			height: 116px;
			overflow: hidden;
			&:first-child {
				margin-left: 0;
				width: 240px;
				height: 240px;
			}
		}
		p {
			position: absolute;
			bottom: 0;
			height: 36px;
			line-height: 36px;
			padding: 0 16px;
			font-size: 14px;
			color: #fff;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 240 - 32px;
		}
	}
}
.m_app {
	height: 578px;
	background-color: #f0f5f6;
	font-size: 0;
	overflow: hidden;
	.slider-wrap {
		position: absolute;
    height: 200px;
    margin-top: 47px;
    left: 70px;
    width: 1060px;
		.name {
			display: block;
			line-height: 28 + 16px;
			font-size: 16px;
			color: #353535;
		}
	}
	.slider {
		height: 200px;
		overflow: hidden;
	}
	.btn {
		position: absolute;
		width: 70px;
		height: 200px;
		line-height: 200px;
		text-align: center;
		top: 0;
		i {
			vertical-align: middle;
		}
	}
	.btn-prev {
		left: -70px;
	}
	.btn-next {
		right: -70px;
	}
	ul {
		display: inline-block;
	}
	li {
		float: left;
		a {
			display: inline-block;
			width: 158px;
			height: 120px;
			background-color: #fff;
			padding: 38px 0 42px 0;
			text-align: center;
			border-radius: 4px;
			margin: 0 9px;
		}
	}
	img {
		width: 64px;
		height: 64px;
		border-radius: 8px;
	}
	.num {
		font-size: 12px;
		color: #9ea6ab;
	}
}
.m_eke_youe {
	height: 234 - 74px;
	border-top: 1px solid #e2e6ea;
	background-color: #f0f5f6;
	padding-top: 74px;
	.computer {
		margin: 0 20px 0 112px;
	}
	.phone {
		margin-right: 20px;
	}
	.name {
		display: block;
		font-size: 32px;
		line-height: 58px;
		color: #0377d9;
	}
	.download {
		margin-top: 4px;
		display: inline-block;
		height: 32px;
		line-height: 32px;
		width: 140px;
		border: 2px solid #0377d9;
		border-radius: 6px;
		text-align: center;
		color: #0377d9;
		font-size: 14px;
	}
	.youe {
		margin: -20px 100px 0 20px;
	}
}
.g_footer {
	height: 192px;
	background-color: #0377d9;
}
.m_wechat {
	margin-top: 34px;
	display: table;
	.weixin {
		margin-right: 22px;
	}
	.info {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
		height: 117px;
		color: #fff;
		line-height: 36px;
	}
	.name {
		font-size: 24px;
	}
	.intro {
		font-size: 12px;
	}
}
.m_server {
	color: #fff;
	margin-top: 44px;
	font-size: 12px;
	text-align: right;
	p {
		line-height: 28px;
	}
}



