.icon-btn-next-app{background: url('../../images/index/sprite2.png') no-repeat -212px -175px;width: 47px;height: 48px;}
.icon-btn-next-banner{background: url('../../images/index/sprite2.png') no-repeat -133px -227px;width: 28px;height: 49px;}
.icon-btn-next-news{background: url('../../images/index/sprite2.png') no-repeat -310px -104px;width: 40px;height: 88px;}
.icon-btn-next-notice{background: url('../../images/index/sprite2.png') no-repeat -352px -104px;width: 10px;height: 18px;}
.icon-btn-prev-app{background: url('../../images/index/sprite2.png') no-repeat -310px -194px;width: 48px;height: 48px;}
.icon-btn-prev-banner{background: url('../../images/index/sprite2.png') no-repeat 0px -278px;width: 28px;height: 50px;}
.icon-btn-prev-news{background: url('../../images/index/sprite2.png') no-repeat -241px -53px;width: 40px;height: 88px;}
.icon-btn-prev-notice{background: url('../../images/index/sprite2.png') no-repeat -364px -104px;width: 10px;height: 18px;}
.icon-computer{background: url('../../images/index/sprite2.png') no-repeat 0px -175px;width: 131px;height: 101px;}
.icon-i-notice{background: url('../../images/index/sprite2.png') no-repeat -133px -175px;width: 77px;height: 50px;}
.icon-i-renren{background: url('../../images/index/sprite2.png') no-repeat 0px 0px;width: 308px;height: 51px;}
.icon-phone{background: url('../../images/index/sprite2.png') no-repeat -310px 0px;width: 68px;height: 102px;}
.icon-weixin{background: url('../../images/index/sprite2.png') no-repeat -122px -53px;width: 117px;height: 117px;}
.icon-youe{background: url('../../images/index/sprite2.png') no-repeat 0px -53px;width: 120px;height: 120px;}
