/*
Error: File to import not found or unreadable: _reset.scss.
       Load path: E:/note/study/sass/css/scss
        on line 18 of E:\note\study\sass\css\scss\demo.scss

13: //找到安装目录里面sass-3.3.7模块下面的engine.rb文件，例如下面路径：
14: //C:\Program Files (x86)\Koala\rubygems\gems\sass-3.3.7\lib\sass
15: //在这个文件里面engine.rb，添加一行代码
16: //Encoding.default_external = Encoding.find('utf-8')
17: //放在所有的require XXXX 之后即可。
18: @import '_reset.scss';
19: @import 'import.css'; 
20: @import 'tools';
21: 
22: //变量-属性值
23: $fontSize: 16px;

Backtrace:
E:\note\study\sass\css\scss\demo.scss:18
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:66:in `rescue in import'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:45:in `import'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:28:in `imported_file'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/import_node.rb:37:in `css_import?'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
E:/note/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
E:/note/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
E:/note/Koala/bin/sass:18:in `load'
E:/note/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: _reset.scss.\A        Load path: E:/note/study/sass/css/scss\A         on line 18 of E:\note\study\sass\css\scss\demo.scss\A \A 13: //找到安装目录里面sass-3.3.7模块下面的engine.rb文件，例如下面路径：\A 14: //C:\Program Files (x86)\Koala\rubygems\gems\sass-3.3.7\lib\sass\A 15: //在这个文件里面engine.rb，添加一行代码\A 16: //Encoding.default_external = Encoding.find('utf-8')\A 17: //放在所有的require XXXX 之后即可。\A 18: @import '_reset.scss';\A 19: @import 'import.css'; \A 20: @import 'tools';\A 21: \A 22: //变量-属性值\A 23: $fontSize: 16px;"; }
