body {
	background-color: #282828;
}
.g_header .top {
	background: #000;
	height: 50px;
	line-height: 50px;
}
.u_logo a {
	font-size: 18px;
	color: #fff;
	margin-right: 20px;
	display: block;
}
.m_nav li {
	float: left;
}
.m_nav a {
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	color: #fff;
}
.m_nav a:hover,.m_nav a.nav_active {
	color: #ff0000;
	background-color: #242424;
}
.m_log_reg li {
	float: left;
}
.m_log_reg a {
	display: inline-block;
	padding: 0 20px;
	font-size: 12px;
	color: #fff;
}
.m_log_reg a:hover {
	color: #ff0000;
}
.m_carousel {
	height: 240px;
	background-color: #ff0000;
}
.g_content {
	margin-top: 50px;
}
.g_main {
	width: 700px;
}
.g_side {
	margin-left: 20px;
	width: 280px;
	background-color: #fff;
}
.m_login_wrap {
	border: 1px solid #ccc;
	padding: 10px 10px 0 10px;
	margin: 10px;
	margin-bottom: 20px;
}
.m_login_wrap .login_content {
	text-align: right;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}
.m_login_wrap li {
	margin-bottom: 10px;
}
.m_login_wrap span {
	display: inline-block;
	/*width: 60px;*/
	text-align: right;
}
.m_login_wrap input {
	width: 160px;
	border: 1px solid #ccc;
	height: 14px;
	line-height: 14px;
	padding: 4px 8px;
	color: #ccc;
}
.u_regist_confirm,.u_login_confirm {
	display: inline-block;
	background: #ff0000;
	padding: 6px 8px;
	border-radius: 4px;
	color: #fff;
	width: 162px;
	text-align: center;
}
.m_login_wrap .has,.m_login_wrap .login_out {
	line-height: 28px;
}
.m_login_wrap .title {
	line-height: 32px;
	font-weight: 800;
	font-size: 18px;
	border-bottom: 2px solid #ff0000;
	width: 36px;
}
.m_login_info .title {
	width: 72px;
}
.m_login_wrap .regist_info,.m_login_wrap .login_info {
	color: #ff0000;
	margin: 14px 0 0 20px;
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
}
.m_regist {
	display: none;
}
.m_login_info .user_info {
	text-align: left;
}
.m_article {
	text-align: center;
	background: #fff;
	padding: 30px 30px 20px;
	margin-bottom: 30px;
}
.m_article h2 {

}
.m_article .info {
	font-size: 14px;
	margin: 20px;
}
.m_article .info span {
	color: red;
}
.m_article .intro {
	text-align: left;
	font-size: 16px;
}
.m_article .full_text {
	text-align: left;
	margin-top: 20px;
}
.m_article .full_text a {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 16px;
	color: #fff;
	background: #ff0000;
	border-radius: 4px;
}
.m_page {
	text-align: center;
	background-color: #fff;
	padding: 8px 0;
}
.m_page a {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px;
	color: #fff;
	background: #ff0000;
	margin: 0 20px;
	border-radius: 4px;
}
.m_article .content {
	line-height: 20px;
	font-size: 16px;
	white-space: pre-wrap;
	word-break: break-all;
	text-align: left;
	font-family: 'Microsoft Yahei';
}
.g_footer {
	height: 50px;
	line-height: 50px;
	background-color: #000;
	margin-top: 50px;
	text-align: center;
}
.g_footer p {
	color: #fff;
	font-size: 16px;
}
.m_comment {
	background-color: #fff;
	padding: 30px 20px;
	position: relative;
}
.m_comment h2 {

}
.m_comment .count {

}
.m_comment .textarea_wrap {
	margin: 20px 0;
}
.m_comment .comment {
	width: 568px;
	height: 58px;
	border: 1px solid #ff0000;
	border-right: none;
	resize: none;
	padding: 6px 10px;
}
.m_comment .comment_btn {
	width: 70px;
	height: 72px;
	background-color: #ff0000;
	line-height: 72px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.m_comment .no_login {
	background-color: #ff0000;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin: 20px 0;
}
.m_comment .no_comment {
	/*font-size: 16px;*/
}
.m_comment_info {
	margin-top: 14px;
}
.m_comment_info li {
	padding: 10px 0;
	border-bottom: 1px solid #ff0000;
}
.m_comment_info .delete {
	margin-right: 10px;
	color: #282828;
}
.m_comment_info .comment_load {
	margin-top: 10px;
}
.m_comment_info p {
	line-height: 20px;
}
.m_comment_info .time {

}