body {
	background-color: #A29292;
}
.g_header .top {
	background: #000;
	height: 50px;
	line-height: 50px;
}
.u_logo a {
	font-size: 18px;
	color: #fff;
}
.m_nav li {
	float: left;
}
.m_nav a {
	display: inline-block;
	padding: 0 20px;
	font-size: 14px;
	color: #fff;
}
.m_nav a:hover {
	color: #ff0000;
}
.m_log_reg li {
	float: left;
}
.m_log_reg a {
	display: inline-block;
	padding: 0 20px;
	font-size: 12px;
	color: #fff;
}
.m_log_reg a:hover {
	color: #ff0000;
}
.m_carousel {
	height: 240px;
	background-color: #ff0000;
}
.g_content {
	margin-top: 50px;
}
.g_main {
	background-color: #fff;
	width: 700px;
	height: 1000px;
}
.g_side {
	margin-left: 20px;
	width: 280px;
	background-color: #fff;
}
.m_regist,.m_login {
	border: 1px solid #ccc;
	padding: 10px 10px 0 10px;
	margin: 10px;
	margin-bottom: 20px;
}
.m_regist ul,.m_login ul {
	text-align: right;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}
.m_regist li,.m_login li {
	margin-bottom: 10px;
}
.m_regist span,.m_login span {
	display: inline-block;
	width: 60px;
	text-align: right;
}
.m_regist input,.m_login input {
	width: 160px;
	border: 1px solid #ccc;
	height: 14px;
	line-height: 14px;
	padding: 4px 8px;
	color: #ccc;
}
.u_regist_confirm,.u_login_confirm {
	display: inline-block;
	background: #ff0000;
	padding: 6px 8px;
	border-radius: 4px;
	color: #fff;
	width: 162px;
	text-align: center;
}
.m_login_regist .has {
	line-height: 28px;
}
.m_login_regist .title {
	line-height: 32px;
	font-weight: 800;
	font-size: 18px;
	border-bottom: 2px solid #ff0000;
	width: 36px;
}
.m_regist {
	display: none;
}
