body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

body,
button, input, select, textarea {
    /*font : font-style || font-variant || font-weight || font-size/line-height || font-family */
    font: 12px/1 "Microsoft Yahei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    outline:none;
    background:none;
    border:none;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
// a:hover { text-decoration: underline; }

fieldset, img { border: none; } /* 让链接里的 img 无边框 */

button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

/*功能样式*/

/*清空浮动*/
.clearfix:after{content:" "; display:table; clear:both;}
.clearfix{zoom:1;}

/*左右浮动*/
.fl{float: left;}
.fr{float: right;}

/*主体居中*/
.comWidth {
    margin: 0 auto;
    width: 1000px;
}

/*元素居中*/
/*.align_center {
    width:100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}*/

/*单行省略*/
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*箭头*/
.arrow_icon{
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 10px;
    cursor: pointer;
    /*top*/
    /*border-style: dashed dashed solid dashed;
    border-color: transparent transparent red transparent;
    border-top: none;*/
    /*bottom*/
   /* border-style: solid dashed dashed dashed;
    border-color: red transparent transparent transparent;
    border-bottom: none;*/
    /*left*/
    /*border-style: dashed solid dashed dashed;
    border-color: transparent red transparent transparent;
    border-left: none;*/
    /*right*/
    /*border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent red;
    border-right: none;*/  
}