/*自动合成雪碧图*/
.i-base {
	display: inline-block;
	width: 60px;
	height: 20px;
}
.add {
	background: url("../../img/base/hour-add.png") center center no-repeat;
}
.close {
	background: url("../../img/base/hour-close-active.png") center center no-repeat;
}
.delete {
	background: url("../../img/base/hour-delete.png") center center no-repeat;
}