<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>gulp</title>
	<link rel="stylesheet" href="../css/index-74d9a66f5b.min.css">
	<link rel="stylesheet" href="../css/slider-8eef0673d3.css">
</head>
<body>
	<div class="header">
		<div class="comWidth">
			<ul id="nav" class="clearfix">
				<li><a href="javascript:;">html</a></li>
				<li><a href="javascript:;">css</a></li>
				<li><a href="javascript:;">javascript</a></li>
				<li><a href="javascript:;">nodejs</a></li>
			</ul>
		</div>
	</div>
	<div>
		<i></i>
	</div>
	<script src="../js/index-eb34791055.min.js"></script>
	<script src="../js/slider-f950a1d820.min.js"></script>
</body>
</html>