<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note</title>
	<link rel="stylesheet" href="public/css/reset.css">
	<link rel="stylesheet" href="public/css/index.css">
</head>
<body>
	<div class="g_header">
		<div class="top">
			<div class="comWidth clearfix">
				<div class="u_logo fl">
					<a href="/">NOTE</a>
				</div>
				<div class="m_nav fl">
					<ul class="clearfix">
						<% for(var i = 0; i < data.categoryInfo.length; i++){ %>
							<% if(data.category === data.categoryInfo[i].id) { %>
								<li><a href="/?category=<%= data.categoryInfo[i].id %>" class="nav_active"><%= data.categoryInfo[i].name %></a></li>
							<% } else { %>
								<li><a href="/?category=<%= data.categoryInfo[i].id %>"><%= data.categoryInfo[i].name %></a></li>
							<% } %>
						<% } %>
					</ul>
				</div>
				<div class="m_log_reg fr">
					<ul class="clearfix">
						<li><a class="u_login_btn" href="javascript:;">登录</a></li>
						<li><a class="u_regist_btn" href="javascript:;">注册</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- top end -->
		<div class="m_carousel">
			
		</div> <!-- m_carousel end -->
	</div> <!-- g_header end -->
	<div class="g_content">
		<div class="comWidth clearfix">
			<div class="g_main fl">
				<div class="article">
					<div class="m_article">
						<h2><%= data.articleInfo.title %></h2>
						<div class="info">
							作者：<span class="author"><%= data.articleInfo.author.username %></span>
							时间：<span class="time"><%= data.articleInfo.date.toLocaleString() %></span>
							阅读：<span class="hits"><%= data.articleInfo.hits %></span>
							笔记：<span class="note"><%= data.articleInfo.noteNum %></span>
						</div>
						<div class="content"><%- data.articleInfo.content %></div>
					</div>
					<div class="m_comment">
						<div class="title clearfix">
							<h2 class="fl">评论</h2>
							<p class="count fr">一共有<span><%= data.comments.length %></span>条评论</p>
						</div>
						<% if(userInfo.id) { %>
						<div class="textarea_wrap clearfix">
							<textarea name="comment" id="comment" class="comment fl"></textarea>
							<input type="hidden" id="articleId" value="<%= data.articleInfo.id %>">
							<input class="comment_btn fl" type="button" value="提交">
						</div>
						<% } else { %>
						<p class="no_login">你还没有登录，请先<a href="javascript:;">登录！</a></p>
						<% } %>
						<ul class="m_comment_info">
							<% if(data.comments.length) { %>
								<% for(var i = 0; i < data.comments.length; i++) { %>
									<li>
										<p><span class="username"><%= data.comments[i].user %></span><span class="time fr"><%= new Date(data.comments[i].date).toLocaleString() %></span><a href="javascript:;" class="delete fr" commentId="<%= data.comments[i].id %>">删除</a>
										</p>
										<p class="comment_load"><%= data.comments[i].content %></p>
									</li>
								<% } %>
							<% } else { %>
								<p class="no_comment">还没有留言!</p>
							<% } %>
						</ul>
						<div class="more_comment">
							<a href="javascript:;">加载更多</a>
						</div>
					</div>
				</div>
			</div> <!-- main end -->
			<div class="g_side fr">
			
				<% if(userInfo.id) { %>
				<div class="m_login_info m_login_wrap">
					<div class="title_wrap clearfix">
						<p class="title fl">用户信息</p>						
					</div>
					<div class="login_content">
						<p class="user_info">
							<span><%= userInfo.username %></span>，每天进步一点点！
							<% if(userInfo.isAdmin) { %>
								<a href="/manage" class="entry_manage">进入管理</a>
							<% } %>
						</p>
						<a href="javascript:;" class="login_out">退出</a>
					</div>
				</div>
				<% } else { %>
				<div class="m_regist m_login_wrap">
					<div class="title_wrap clearfix">
						<p class="regist title fl">注册</p>
						<em class="regist_info fl"></em>						
					</div>
					<ul class="login_content">
						<li><span>用户名：</span><input type="text" name="username" placeholder="请输入用户名"></li>
						<li><span>密码：</span><input name="password" type="password"></li>
						<li><span>再次输入：</span><input name="repassword" type="password"></li>
						<a class="u_regist_confirm" href="javascript:;">注册</a>
						<p class="has">已有账号？<a class="u_now_login" href="javascript:;">马上登录</a></p>
					</ul>
				</div>
				<div class="m_login m_login_wrap">
					<div class="title_wrap clearfix">
						<p class="login title fl">登录</p>
						<em class="login_info fl"></em>					
					</div>
					<ul class="login_content">
						<li><span>用户名：</span><input type="text" name="username" placeholder="请输入用户名"></li>
						<li><span>密码：</span><input name="password" type="password"></li>
						<a class="u_login_confirm" href="javascript:;">登录</a>
						<p class="has">还没注册？<a class="u_now_regist" href="javascript:;">马上注册</a></p>
					</ul>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="g_footer">
		<p>hello note!</p>
	</div>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="public/js/index.js"></script>
<script src="public/js/article.js"></script>
</body>
</html>