<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note</title>
	<link rel="stylesheet" href="public/css/reset.css">
	<link rel="stylesheet" href="public/css/index.css">
</head>
<body>
	<div class="g_header">
		<div class="top">
			<div class="comWidth">
				<div class="u_logo fl">
					<a href="javascipt:;">NOTE</a>
				</div>
				<div class="m_nav fl">
					<ul class="clearfix">
						<li><a href="javascript:;">Html</a></li>
						<li><a href="javascript:;">Css</a></li>
						<li><a href="javascript:;">Javascript</a></li>
						<li><a href="javascript:;">Nodejs</a></li>
						<li><a href="javascript:;">Reactjs</a></li>
					</ul>
				</div>
				<div class="m_log_reg fr">
					<ul class="clearfix">
						<li><a class="u_login_btn" href="javascript:;">login</a></li>
						<li><a class="u_regist_btn" href="javascript:;">regist</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- top end -->
		<div class="m_carousel">
			
		</div> <!-- m_carousel end -->
	</div> <!-- g_header end -->
	<div class="g_content">
		<div class="comWidth clearfix">
			<div class="g_main fl">
				
			</div> <!-- main end -->
			<div class="g_side fr">
			
				<% if(userInfo.id) { %>
				<div class="m_login_info m_login_wrap">
					<div class="title_wrap clearfix">
						<p class="title fl">用户信息</p>						
					</div>
					<div class="login_content">
						<p class="user_info">
							<span><%= userInfo.username %></span>，每天进步一点点！
							<% if(userInfo.isAdmin) { %>
								<a href="/admin" class="entry_manage">进入管理</a>
							<% } %>
						</p>
						<a href="javascript:;" class="login_out">退出</a>
					</div>
				</div>
				<% } else { %>
				<div class="m_regist m_login_wrap">
					<div class="title_wrap clearfix">
						<p class="regist title fl">注册</p>
						<em class="regist_info fl"></em>						
					</div>
					<ul class="login_content">
						<li><span>用户名：</span><input type="text" name="username" placeholder="请输入用户名"></li>
						<li><span>密码：</span><input name="password" type="password"></li>
						<li><span>再次输入：</span><input name="repassword" type="password"></li>
						<a class="u_regist_confirm" href="javascript:;">注册</a>
						<p class="has">已有账号？<a class="u_now_login" href="javascript:;">马上登录</a></p>
					</ul>
				</div>
				<div class="m_login m_login_wrap">
					<div class="title_wrap clearfix">
						<p class="login title fl">登录</p>
						<em class="login_info fl"></em>					
					</div>
					<ul class="login_content">
						<li><span>用户名：</span><input type="text" name="username" placeholder="请输入用户名"></li>
						<li><span>密码：</span><input name="password" type="password"></li>
						<a class="u_login_confirm" href="javascript:;">登录</a>
						<p class="has">还没注册？<a class="u_now_regist" href="javascript:;">马上注册</a></p>
					</ul>
				</div>
				<% } %>
			</div>
		</div>
	</div>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="public/js/index.js"></script>
</body>
</html>