<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>note</title>
	<link rel="stylesheet" href="public/css/reset.css">
</head>
<body>
	<div class="g_header">
		<div class="top">
			<div class="comWidth">
				<div class="u_logo">
					<a href="javascipt:;">NOTE</a>
				</div>
				<div class="m_nav">
					<ul>
						<li><a href="javascript:;">Html</a></li>
						<li><a href="javascript:;">Css</a></li>
						<li><a href="javascript:;">Javascript</a></li>
						<li><a href="javascript:;">Nodejs</a></li>
						<li><a href="javascript:;">Reactjs</a></li>
					</ul>
				</div>
				<div class="m_log_reg">
					<ul>
						<li><a class="u_login_btn" href="javascript:;">login</a></li>
						<li><a class="u_regist_btn" href="javascript:;">regist</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- top end -->
		<div class="m_carousel">
			
		</div> <!-- m_carousel end -->
	</div> <!-- g_header end -->
	<div class="g_content">
		<div class="comWidth">
			<div class="g_main fl">
				
			</div> <!-- main end -->
			<div class="g_side fr">
				<div class="m_regist">
					<ul>
						<li><span>用户名：</span><input type="text" name="username" value="请输入用户名"></li>
						<li><span>密码：</span><input name="password" type="password"></li>
						<li><span>请再次输入密码：</span><input name="repassword" type="password"></li>
						<li><a href="javascript:;">确定</a><a href="javascript:;">取消</a></li>
					</ul>
				</div>
				<div class="m_login">
					<ul>
						<li><span>用户名：</span><input type="text" name="username" value="请输入用户名"></li>
						<li><span>密码：</span><input name="password" type="password"></li>
						<li><a href="javascript:;">确定</a><a href="javascript:;">取消</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>