@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0; }

body,
button, input, select, textarea {
  /*font : font-style || font-variant || font-weight || font-size/line-height || font-family */
  font: 12px/1 "Microsoft Yahei",Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
  outline: none;
  background: none;
  border: none; }

h1 {
  font-size: 18px; }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px; }

h4, h5, h6 {
  font-size: 100%; }

/* 重置列表元素 */
ul, ol {
  list-style: none; }

/* 重置文本格式元素 */
a {
  text-decoration: none; }

fieldset, img {
  border: none; }

/* 让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 hr */
hr {
  border: none;
  height: 1px; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll; }

/*清空浮动*/
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  zoom: 1; }

/*公共样式*/
/*左右浮动*/
.fl {
  float: left; }

.fr {
  float: right; }

.comWidth {
  width: 1000px;
  margin: 0 auto; }

.logo img {
  margin: 18px 0; }

.search {
  position: relative;
  padding-top: 16px; }
  .search input {
    float: left;
    width: 294px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #999;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 18px;
    color: #bdbdba;
    text-align: left;
    margin-right: 6px; }
  .i-search {
    position: absolute;
    height: 22px;
    background: url("../images/search.png") 0 center no-repeat;
    top: 30px;
    left: 112px;
    padding-left: 40px;
    font-size: 18px;
    font-style: normal;
    color: #bdbdba; }

  .search-btn {
    display: inline-block;
    width: 82px;
    height: 46px;
    line-height: 46px;
    border-radius: 8px;
    color: #fff;
    background-color: #398801;
    font-size: 18px;
    text-align: center; }
.nav-login {
  background: #398801 url("../images/nav-bg.png") center center no-repeat; }
  .nav li {
    float: left; }
  .nav a {
    display: inline-block;
    padding: 0 18px;
    height: 54px;
    line-height: 54px;
    color: #fff;
    font-size: 18px; }

  .login {
    position: relative;
    margin-top: 10px; }
    .login input {
      float: left;
      width: 124px;
      height: 32px;
      line-height: 32px;
      background-color: #68b433;
      padding: 0 14px;
      color: #cbe2c1;
      margin-right: 6px;
      text-align: left;
      font-size: 16px;
      border-radius: 4px; }
    .i-password {
      position: absolute;
      top: 8px;
      left: 174px;
      color: #cbe2c1;
      font-style: normal;
      font-size: 16px; }

    .login-btn {
      width: 72px;
      height: 32px;
      background-color: #feaa00;
      line-height: 32px;
      text-align: center;
      color: #000;
      border-radius: 4px;
      margin-right: 6px;
      font-size: 18px; }

    .sign-active a {
      font-size: 12px;
      color: #a1d2a6;
      display: block;
      line-height: 16px; }

.banner {
  background: url("../images/banner.jpg") center center no-repeat;
  height: 293px; }
  .banner .comWidth {
    position: relative; }
  .data {
    position: absolute;
    top: 10px;
    right: 0;
    width: 304px; }
    .data li {
      float: left;
      background-color: #cee6bf;
      margin: 0 0 1px 1px; }
      .data-img {
        width: 58px;
        height: 92px;
        text-align: right; }
        .data-img img {
          margin-top: 30px; }

      .data-content {
        margin-left: 13px;
        width: 80px;
        height: 92px;
        line-height: 28px;
        color: #76b247;
        text-align: left; }
        .data-content .data-number {
          font-size: 18px;
          margin-top: 20px; }
        .data-content .data-name {
          font-size: 14px; }

.news-wrap {
  margin-top: 30px; }
  .news-carousel {
    width: 342px;
    height: 222px;
    background-color: #659A3B;
    margin-right: 30px; }

  .news {
    margin-right: 24px; }
    .news-header {
      width: 300px;
      height: 89px;
      border-bottom: 1px solid #ddd; }
      .news-header h3 {
        color: #398801;
        font-size: 18px;
        margin-bottom: 8px; }
      .news-header p {
        color: #989b9b;
        font-size: 14px;
        line-height: 24px; }

    .news-content {
      margin-top: 9px; }
      .news-content a {
        display: inline-block;
        background: url("../images/list-dot.png") left center no-repeat;
        padding-left: 20px;
        font-size: 14px;
        margin: 9px 0;
        color: #5e6764;
        width: 280px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis; }

  .notice-nav {
    border-top: 1px solid #ddd; }
    .notice-nav li {
      float: left; }
    .notice-nav a {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      width: 152px;
      color: #686868;
      text-align: center; }
      .notice-nav a.active {
        color: #398801;
        border-top: 1px solid #398801; }

  .notice-content li {
    margin-bottom: 10px; }
  .notice-date {
    float: left;
    border: 1px solid #ddd;
    width: 56px;
    text-align: center;
    margin-right: 12px; }
    .notice-day {
      height: 28px;
      line-height: 28px;
      color: #b7bdcc;
      font-size: 16px; }

    .notice-year {
      height: 20px;
      font-size: 12px;
      color: #bbbdc2; }
  .notice-content a {
    float: left;
    width: 226px;
    line-height: 24px;
    color: #5e6764;
    font-size: 14px; }
    .notice-content a.active {
      color: #68695e;
      font-weight: 600; }

.excellent {
  margin-top: 30px;
  border: 1px solid #ddd; }
  .excellent-nav {
    background: url("../images/excellent-bg.png") center top no-repeat;
    position: relative; }
    .excellent-nav h3 {
      font-size: 16px;
      color: #398801;
      text-align: center;
      height: 60px;
      line-height: 60px; }
    .refresh {
      position: absolute;
      background: url("../images/refresh.png") center center no-repeat;
      width: 34px;
      height: 34px;
      top: 18px;
      right: 36px;
      cursor: pointer; }

    .identity {
      text-align: center; }
      .identity li {
        display: inline-block; }
      .identity li {
        *display: inline; }
      .identity a {
        display: inline-block;
        border: 1px solid #ddd;
        color: #969696;
        width: 58px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        margin-right: 20px; }
        .identity a.active {
          color: #398801;
          font-weight: 600;
          border-color: #398801; }

  .excellent-content {
    margin-top: 22px; }
    .zone-user {
      padding: 0 0 18px 30px; }
      .zone-user li {
        float: left;
        margin-bottom: 10px; }
        .zone-user-img {
          margin-right: 18px; }
          .zone-user-img a {
            display: inline-block; }

        .zone-user-content a {
          display: block;
          line-height: 28px;
          width: 134px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -ms-text-overflow: ellipsis; }
        .zone-user-name {
          font-size: 18px;
          font-weight: 600;
          color: #000; }

        .zone-user-school {
          font-size: 12px;
          color: #313436; }

        .zone-user-lesson {
          font-size: 12px;
          color: #969794; }

    .vedio-center {
      padding: 0 0 18px 30px; }
      .vedio-center li {
        float: left;
        margin-left: 4px; }
      .vedio-center a {
        display: inline-block;
        width: 186px;
        color: #32332e;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        line-height: 50px;
        font-size: 14px; }
      .vedio-center span {
        display: block;
        width: 186px;
        height: 130px;
        overflow: hidden; }
      .vedio-center img {
        width: 100%;
        height: 100%;
        display: block; }

    .app {
      padding: 0 0 18px 48px; }
      .jCarouselLite-btn {
        width: 18px;
        height: 90px;
        font-size: 40px;
        line-height: 90px;
        color: #e5e5e5;
        font-family: "SimHei";
        float: left; }
        .jCarouselLite-btn:hover {
          color: #b7b7b7;
          cursor: pointer; }

      .jCarouselLite {
        float: left; }
        .jCarouselLite li {
          float: left;
          width: 864px;
          height: 90px; }
        .jCarouselLite a {
          display: inline-block;
          color: #37332d;
          font-size: 14px;
          text-align: center;
          width: 123px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -ms-text-overflow: ellipsis; }
        .jCarouselLite-content {
          float: left; }

        .jCarouselLite-name {
          margin-top: 6px; }

.resource {
  margin-top: 30px; }
  .resource-pie {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    height: 308px; }

  #pie-charts {
    width: 300px;
    height: 308px; }

  .resource-table {
    border: 1px solid #ddd;
    border-bottom: none;
    height: 308px; }
    .resource-table th {
      background-color: #e7f7dd;
      height: 37px;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd; }
    .resource-table td {
      border: 1px solid #ddd;
      text-align: center;
      height: 26px; }
    .resource-table .th-1 {
      border-left: none;
      width: 122px; }
    .resource-table .th-2 {
      width: 230px; }
    .resource-table .th-3 {
      width: 238px; }
    .resource-table .td-1 {
      width: 122px;
      border-left: none; }
    .resource-table .td-2 {
      width: 230px; }
    .resource-table .td-3 {
      width: 238px;
      border-right: none; }
    .resource-table .tr-last td {
      border-bottom: none; }

  .resource-nav {
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #e7f7dd;
    height: 46px; }
    .resource-nav li {
      float: left; }
    .resource-nav a {
      display: inline-block;
      height: 46px;
      line-height: 46px;
      width: 332px;
      color: #6b6c64;
      font-size: 16px;
      text-align: center;
      border-bottom: 1px solid #ddd; }
    .resource-nav-one.active {
      background-color: #fff;
      border-right: 1px solid #ddd;
      border-bottom: none; }

    .resource-nav-two.active {
      background-color: #fff;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: none;
      width: 331px; }

    a.resource-nav-three {
      width: 333px; }

    .resource-nav-three.active {
      background-color: #fff;
      border-left: 1px solid #ddd;
      border-bottom: none; }

  .resource-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px 0 20px 30px; }
    .resource-content li {
      float: left;
      margin-right: 40px; }
    .resource-content a {
      display: inline-block;
      width: 422px;
      padding-left: 20px;
      background: url("../images/resource-subject.png") left center no-repeat;
      font-size: 14px;
      color: #000;
      line-height: 34px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis; }
    .resource-content span {
      color: #9b9aa2; }
    .resource-content i {
      font-style: normal;
      color: #9b9aa2;
      margin: 0 10px 0 8px; }

.footer {
  margin-top: 30px; }
  .download-erweima {
    background-color: #e7f7dd;
    height: 172px; }
    .download {
      margin: 34px 246px 34px 0; }
      .download-computer, .erweima-phone {
        margin-right: 30px; }

      .download-content span, .erweima-content span {
        font-size: 30px;
        color: #398801;
        font-weight: 600;
        display: block;
        margin: 6px 0 18px 0; }
      .download-content a, .erweima-content a {
        display: inline-block;
        height: 38px;
        line-height: 38px;
        text-align: center;
        font-size: 16px;
        border: 1px solid #398801;
        padding: 0 22px;
        color: #398801;
        border-radius: 4px; }

    .erweima {
      margin-top: 34px; }
      .erweima-img {
        margin-left: 36px; }

  .about-us {
    padding: 22px 0;
    background-color: #398801;
    text-align: center;
    font-size: 14px;
    color: #bed4c2;
    line-height: 30px; }
    .about-us a {
      color: #bed4c2; }

/*# sourceMappingURL=template.css.map */
