@import "tools","reset";

$searchRadius: 8px;
$loginRadius: 4px;
$font18: 18px;
$font16: 16px;
$font14: 14px;
$font12: 12px;
$mainColor: #398801;
.comWidth {
	@include comWidth(1000px);
}

//为了兼容IE7，垂直居中全部使用margin来实现。
.header {
	.top {
		@at-root {
			.logo {
				img {
					margin: 18px 0;
				}
			}
			.search {
				position: relative;
				padding-top: 16px;
				input {
					//input默认默认位置在父盒子的底部，给了浮动才会靠顶部。
					float: left;
					width: 294px;
					height: 44px;
					line-height: 44px;
					border: 1px solid #999;
					border-radius: $searchRadius;
					padding: 0 20px;
					font-size: $font18;
					color: #bdbdba;
					text-align: left;
					margin-right: 6px;
				}
				@at-root {
					.i-search {
						position: absolute;
						height: 22px;
						background: url("../images/search.png") 0 center no-repeat;
						top: 30px;
						left: 112px;
						padding-left: 40px;
						font-size: 18px;
						font-style: normal;
						color: #bdbdba;
					}
					.search-btn {
						display: inline-block;
						width: 82px;
						height: 46px;
						line-height: 46px;
						border-radius: $searchRadius;
						color: #fff;
						background-color: $mainColor;
						font-size: $font18;
						text-align: center;
					}
				}
			}
		}
	}
	@at-root {
		.nav-login {
		background: $mainColor url("../images/nav-bg.png") center center no-repeat;
			@at-root {
				.nav {
					li {
						float: left;
					}
					a {
						display: inline-block;
						padding: 0 18px ;
						height:  54px;
						line-height: 54px;
						color: #fff;
						font-size: $font18;
					}
				}
				.login {
					position: relative;
					margin-top: 10px;
					@at-root {
						.userName,.password,.span-password {
							float: left;
							width: 124px;
							height: 32px;
							line-height: 32px;
							background-color: #68b433;
							padding: 0 14px;
							color: #cbe2c1;
							margin-right: 6px;
							text-align: left;
							font-size: $font16;
							border-radius: $loginRadius;
						}
						.password {
							display: none;
						}
						.span-password {
							font-style: normal;
						}
						.login-btn {
							width: 72px;
							height: 32px;
							background-color: #feaa00;
							line-height: 32px;
							text-align: center;
							color: #000;
							border-radius: $loginRadius;
							margin-right: 6px;
							font-size: $font18;
							cursor: pointer;
						}
						.sign-active {
							a {
								font-size: 12px;
								color: #a1d2a6;
								display: block;
								line-height: 16px;
							}
						}
					}
				}
			}
		}
		.banner {
			background: url("../images/banner.jpg") center center no-repeat;
			height: 293px;
			.comWidth {
				position: relative;
			}
			@at-root .data {
				position: absolute;
				top: 10px;
				right: 0;
				width: 304px;
				li {
					float: left;
					background-color: #cee6bf;
					margin: 0 0 1px 1px;
					@at-root {
						.data-img {
							width: 58px;
							height: 92px;
							text-align: right;
							img {
								margin-top: 30px;
							}
						}
						.data-content {
							margin-left: 13px;
							width: 80px;
							height: 92px;
							line-height: 28px;
							color: #76b247;
							text-align: left;
							.data-number {
								font-size: 18px;
								margin-top: 20px;
								// margin-left: 20px;
							}
							.data-name {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
.content {
	@at-root {
		.news-wrap {
			margin-top: 30px;
			@at-root {
				.news-carousel {
					width: 342px;
					height: 222px;
					background-color: #659A3B;
					margin-right: 30px;
				}
				.news {
					margin-right: 24px;
					@at-root {
						.news-header {
							width: 300px;
							height: 89px;
							border-bottom: 1px solid #ddd;
							h3 {
								color: $mainColor;
								font-size: $font18;
								margin-bottom:8px;
							}
							p {
								color: #989b9b;
								font-size: $font14;
								line-height: 24px;
							}
						}
						.news-content {
							margin-top: 9px;
							a {
								display: inline-block;
								background: url("../images/list-dot.png") left center no-repeat;
								padding-left: 20px;
								font-size: 14px;
								margin: 9px 0;
								color: #5e6764;
								width: 280px;
								@include ellipsis;
							}
						}
					}
				}
				.notice {
					@at-root {
						.notice-nav {
							border-top: 1px solid #ddd;
							li {
								float: left;
							}
							a {
								display: inline-block;
								height: 50px;
								line-height: 50px;
								font-size: 18px;
								width: 152px;
								color: #686868;
								text-align: center;
								&.active {
									color: $mainColor;
									border-top: 1px solid $mainColor;
								}
							}
						}
						.notice-content {
							li {
								margin-bottom: 10px;
							}
							@at-root {
								.notice-date {
									float: left;
									border: 1px solid #ddd;
									width: 56px;
									text-align: center;
									margin-right: 12px;
									@at-root {
										.notice-day {
											height: 28px;
											line-height: 28px;
											color: #b7bdcc;
											font-size: $font16;
										}
										.notice-year {
											height: 20px;
											font-size: $font12;
											color: #bbbdc2;
										}
									}
								}
							}
							a {
								float: left;
								width: 226px;
								line-height: 24px;
								color: #5e6764;
								font-size: $font14;
								&.active {
									color: #68695e;
									font-weight: 600;
								}
							}
						}
					}
				}
			}
		}
		.excellent {
			margin-top: 30px;
			border: 1px solid #ddd;
			@at-root {
				.excellent-nav {
					background: url("../images/excellent-bg.png") center top no-repeat;
					position: relative;
					h3 {
						font-size: 16px;
						color: $mainColor;
						text-align: center;
						height: 60px;
						line-height: 60px;
					}
					@at-root {
						.refresh {
							position: absolute;
							background: url("../images/refresh.png") center center no-repeat;
							width: 34px;
							height: 34px;
							top: 18px;
							right: 36px;
							cursor: pointer;
						}
						.identity {
							text-align: center;
							li {
								display: inline-block;
							}
							// ie7不兼容 display:inline-block
							li {
								*display: inline;
							}
							a {
								display: inline-block;
								border: 1px solid #ddd;
								color: #969696;
								width: 58px;
								height: 26px;
								line-height: 26px;
								text-align: center;
								margin-right: 20px;
								&.active {
									color: $mainColor;
									font-weight: 600;
									border-color: $mainColor;
								}
							}
						}
					}
				}
				.excellent-content {
					margin-top: 22px;
					@at-root {
						.zone-user {
							padding: 0 0 18px 30px;
							li {
								float: left;
								margin-bottom: 10px;
								@at-root {
									.zone-user-img {
										margin-right: 18px;
										a {
											display: inline-block;
										}
									}
									.zone-user-content {
										a {
											display: block;
											line-height: 28px;
											width: 134px;
											@include ellipsis;
										}
										@at-root {
											.zone-user-name {
												font-size: $font18;
												font-weight: 600;
												color: #000;
											}
											.zone-user-school {
												font-size: 12px;
												color: #313436;
											}
											.zone-user-lesson {
												font-size: 12px;
												color: #969794;
											}
										}
									}
								}
							}
							
						}
						.vedio-center {
							padding: 0 0 18px 30px;
							li {
								float: left;
								margin-left: 4px;
							}
							a {
								display: inline-block;
								width: 186px;
								color: #32332e;
								@include ellipsis;
								line-height: 50px;
								font-size: 14px;
							}
							span {
								display: block;
								width: 186px;
								height: 130px;
								overflow: hidden;
							}
							img {
								width: 100%;
								height: 100%;
								display: block;
							}
						}
						.app {
							padding: 0 0 18px 48px;
							@at-root {
								.jCarouselLite-btn {
									width: 18px;
									height: 90px;
									font-size: 40px;
									line-height: 90px;
									color: #e5e5e5;
									font-family: "SimHei";
									float: left;
									&:hover {
										color: #b7b7b7;
										cursor: pointer;
									}
								}
								.jCarouselLite {
									float: left;
									li {
										float: left;
										width: 864px;
										height: 90px;
									}
									a {
										display: inline-block;
										color: #37332d;
										font-size: 14px;
										text-align: center;
										width: 123px;
										@include ellipsis;
									}
									@at-root {
										.jCarouselLite-content {
											float: left;
										}
										.jCarouselLite-name {
											margin-top: 6px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.resource {
			margin-top: 30px;
			@at-root {
				.resource-pie {
					border-top: 1px solid #ddd;
					border-left: 1px solid #ddd;
					height: 308px;
				}
				#pie-charts {
					width: 405px;
					height: 308px;
				}
				.resource-table {
					border: 1px solid #ddd;
					border-bottom: none;
					height: 308px;
					th {
						background-color: #e7f7dd;
						height: 37px;
						border-left: 1px solid #ddd;
						border-bottom: 1px solid #ddd;
					}
					td {
						border: 1px solid #ddd;
						text-align: center;
						height: 26px;
					}
					.th-1 {
						border-left: none;
						width: 122px;
					}
					.th-2 {
						width: 230px;
					}
					.th-3 {
						width: 238px;
					}
					.td-1 {
						width: 122px;
						border-left: none;
					}
					.td-2 {
						width: 230px;
					}
					.td-3 {
						width: 238px;
						border-right: none;
					}
					.tr-last td{
						border-bottom: none;
					}
				}
				.resource-nav {
					border: 1px solid #ddd;
					border-bottom: none;
					background-color: #e7f7dd;
					height: 46px;
					li {
						float: left;

					}
					a {
						display: inline-block;
						height: 46px;
						line-height: 46px;
						width: 332px;
						color: #6b6c64;
						font-size: 16px;
						text-align: center;
						border-bottom: 1px solid #ddd;
					}
					@at-root {
						.resource-nav-one.active {
							background-color: #fff;
							border-right: 1px solid #ddd;
							border-bottom: none;
						}
						.resource-nav-two.active {
							background-color: #fff;
							border-right: 1px solid #ddd;
							border-left: 1px solid #ddd;
							border-bottom: none;
							width: 331px;
						}
						a.resource-nav-three {
							width: 333px;
						}
						.resource-nav-three.active {
							background-color: #fff;
							border-left: 1px solid #ddd;
							border-bottom: none;
						}
					}
				}
				.resource-content {
					border: 1px solid #ddd;
					border-top: none;
					padding: 20px 0 20px 30px;
					li {
						float: left;
						margin-right: 40px;
					}
					a {
						display: inline-block;
						width: 422px;
						padding-left: 20px;
						background: url("../images/resource-subject.png") left center no-repeat;
						font-size: 14px;
						color: #000;
						line-height: 34px;
						@include ellipsis;
					}
					span {
						color: #9b9aa2;
					}
					i {
						font-style: normal;
						color: #9b9aa2;
						margin: 0 10px 0 8px;
					}
				}
			}
		}
	}
}
.footer {
	margin-top: 30px;
	@at-root {
		.download-erweima {
			background-color: #e7f7dd;
			height: 172px;
			@at-root {
				.download{
					margin: 34px 246px 34px 0;
					@at-root {
						.download-computer,.erweima-phone {
							margin-right: 30px;
						}
						.download-content,.erweima-content {
							span {
								font-size: 30px;
								color: $mainColor;
								font-weight: 600;
								display: block;
								margin: 6px 0 18px 0;
							}
							a {
								display:inline-block;
								height: 38px;
								line-height: 38px;
								text-align: center;
								font-size: 16px;
								border: 1px solid $mainColor;
								padding: 0 22px;
								color: $mainColor;
								border-radius: 4px;
							}
						}
					}
				}
				.erweima {
					margin-top: 34px;
					@at-root .erweima-img {
						margin-left: 36px;
					}
				}
			}
		}
		.about-us {
			padding: 22px 0;
			background-color: $mainColor;
			text-align: center;
			font-size: 14px;
			color: #bed4c2;
			line-height: 30px;
			a {
				color: #bed4c2;
			}
		}
	}
}